%div.row
  %div.col-md-4
    = link_to image_tag(event.decorate.cover), event_path(event.id)
  %div.col-md-8
  %p
    = link_to event.title, event_path(event.id)
  %p
    = link_to event.place.name, place_path(event.place_id)
  %p
    = event.decorate.format_date
%hr
